version: 2

jobs:
  release-package:
    docker:
      - image: 'circleci/node:latest'
    steps:
      - checkout
      - run:
          name: cd
          command: cd package
      - run:
          name: install
          command: npm i
      - run:
          name: build
          command: webpack
      - run:
          name: release
          command: npm run semantic-release || true

workflows:
  version: 2
  release:
    jobs:
      - release-package